# Developed by: MasterkinG32
# Date: 2024
# Github: https://github.com/masterking32
# Telegram: https://t.me/MasterCryptoFarmBot

config = {
    "web_server": {
        "host": "127.0.0.1",  # Host to listen on (Default: 127.0.0.1)
        "port": 3232,  # Port to listen on (Default: 3232)
    },
    "telegram_api": {
        # Telegram API - Get your API ID and API Hash from https://my.telegram.org/apps
        "api_id": 1234,  # Telegram API ID
        "api_hash": "",  # Telegram API Hash
    },
    "auto_update": True,  # Auto update Main Bot
    "auto_update_modules": True,  # Auto update Modules
    "update_check_interval": 1200,  # Update check interval in seconds (Default: 1200)
}
